In [1]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv("Match.csv")
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [28]:
df.shape

(69761, 21)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69761 entries, 0 to 69760
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   match_id          69761 non-null  int64
 1   inning            69761 non-null  int64
 2   batting_team      69761 non-null  object
 3   bowling_team      69761 non-null  object
 4   over              69761 non-null  int64
 5   ball              69761 non-null  int64
 6   batsman           69761 non-null  object
 7   non_striker       69761 non-null  object
 8   bowler            69761 non-null  object
 9   is_super_over     69761 non-null  int64
 10  wide_runs         69761 non-null  int64
 11  bye_runs          69761 non-null  int64
 12  legbye_runs       69761 non-null  int64
 13  noball_runs       69761 non-null  int64
 14  penalty_runs      69761 non-null  int64
 15  batsman_runs      69761 non-null  int64
 16  extra_runs        69761 non-null  int64
 17  total_runs        69761 non-null  int64
 18  player_dismissed  3516 non-null   object
 19  dismissal_kind    3516 non-null   object
 20  fielder           2529 non-null   object
dtypes: int64(13), object(8)
memory usage: 11.2+ MB

In [26]:
df[["player_dismissed"]].value_counts()

player_dismissed
RG Sharma           59
SK Raina            59
AC Gilchrist        57
G Gambhir           56
Yuvraj Singh        55
                    ..
A Choudhary          1
BAW Mendis           1
H Das                1
GR Napier            1
Jaskaran Singh       1
Length: 354, dtype: int64

In [25]:
df[["fielder"]].value_counts()

fielder
RV Uthappa         61
KD Karthik         57
MS Dhoni           55
AC Gilchrist       54
KC Sangakkara      46
                   ..
RA Jadeja (sub)     1
Misbah-ul-Haq       1
AD Mascarenhas      1
M Kaif (sub)        1
KS Williamson       1
Length: 352, dtype: int64

In [24]:
df[["dismissal_kind"]].value_counts()

dismissal_kind
caught               2029
bowled                650
run out               379
lbw                   223
stumped               121
caught and bowled     106
hit wicket              4
retired hurt            4
dtype: int64

In [4]:
#Find Team wise runs scored.

In [5]:
# Find Total Runs of Virat Kohli.

In [27]:
# Find Total Runs of Your Fav Player.

In [6]:
# Extra Runs Given By All Bowlers in a League.

In [7]:
# Extra Runs Given By TS Mills.

In [8]:
# Catches Taken By Mandeep Singh.

In [9]:
# How Many Times DA Warner is dismissed by Mohammed Shami.

In [10]:
# Total Number of Wickets Taken by YS Chahal.

In [11]:
# Find Number of Stump Out done by MS Dhoni.

In [12]:
# How Many Times S Dhawan Got Out by lbw.

In [13]:
# Total number sixes hit by MS Dhoni.

In [14]:
# Total numbers of balls faced by MI Players.

In [15]:
# Total numbers of balls faced by KKR Players.

In [16]:
# Find the total number of runs scored by Sachin Tendulkar.

In [18]:
# Find the total number of balls faced by Schin Tendulkar.

In [19]:
# Find Sachin Tendulkar's dismissal types in IPL.

In [20]:
# Find the bowlers who dismissed SR Tendulkar.

In [21]:
# How many times was Suresh Raina dismissed.

In [33]:
# Display player details who hit the maximum no of sixes in the current IPL tournament.

In [34]:
# What is the Overall No Balls Runs for each team in the dataset?

In [35]:
# Which player scored the most runs in the dataset?

In [36]:
# Create Your Own Question Atleast 20 To 30 Questions.

*ALL THE BEST*